.tm-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.tm-navbar {
    display: flex;
    font-size: 1.1rem;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333;
    padding: 1rem;
}

.tm-nav-item {
    color: white;
    text-decoration: none;
    margin: 0.5rem 1rem;
}

.tm-nav-item:hover {
    text-decoration: underline;
}

.tm-logout-button {
    background-color: #f44336;
    font-size: 1rem;
    color: white;
    border: none;
    padding: 0.4rem 0.5rem;
    cursor: pointer;
    margin: 0.5rem 1rem;
}

.tm-logout-button:hover {
    background-color: #d32f2f;
}

.tm-content {
    flex: 1;
    padding: 2rem;
}
